    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'SF Pro Display';
    }

    body {
  display: flex;
  justify-content: center;
  background-color: #f0f2f5;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}


    .container {
  width: 50%;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-top: 115px;
  margin-bottom: 100px; 
}


    .header {
      padding: 20px 0px 10px 20px;
    }

    .header h2{
      margin-top: 0;
      font-weight: bold;
      color: #0B2245;
    }
    .header p{
        color: #7C7979;
        line-height: 1rem;
    }

    .divider {
      border-top: 1px solid #ccc;
    }
    .header .profile{
        color: #0D6EFF;
        border-bottom: 3px solid #0D6EFF;
        padding: 15px 0px 10px 20px;
        width: 12%;
    }

    .personal-info {
      display: flex;
      margin-top: 20px;
      font-weight: bold;
    }

    .personal-info h3{
      font-weight: bold;
      color: #0B2245;
    }

    .edit-btn {
      margin-left: auto;
      padding: 5px 10px;
      color: #0D6EFF;
      cursor: pointer;
    }
    .pinfo {
      display: flex;
    }

    .pinfo img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-right: 10px;
        margin-left: 20px;
    }

    .pinfo-text h3{
        margin-top: 10px;
        font-weight: bold;
        margin-left: 10px;
        color: #0B2245;
    }
    .pinfo-text p{
        margin-top: 5px;
        color: #7C7979;
        margin-left: 10px;
        line-height: 10px;
    }

    .info-container {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
    }

    .info {
      margin: 6px 0;
    }
    .info label {
      font-weight: bold;
      display: block;
      margin-bottom: 2px;
      color: #0B2245
      ;
    }
    .info span, .info input {
      display: block;
      width: 100%;
      padding: 8px;
      margin-top: 2px;
      color: #7C7979;
    }
    .info input {
        border: none;
        outline: none;
        background: transparent;
        pointer-events: none;
        display: none;
    }


    .info input.editable {
        border: 1px solid #ccc;
        background: #fff;
        pointer-events: auto;
        padding: 5px;
        border-radius: 5px;
    }

    .buttons{
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        gap: 10px;
    }

    #save-btn {
        margin-top: 20px;
        padding: 10px 16px;
        background-color: #1877f2;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 130px;
    }

    #save-btn:hover {
        background-color: #155ab6;
        color: white;
    }

    #cancel-btn {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #fff;
        color: #0D6EFF;
        border: 1px solid #0D6EFF;
        border-radius: 5px;
        cursor: pointer;
        width: 90px;
    }

    #cancel-btn:hover {
        background-color: #155ab6;
        color: white;
    }
